<form method="post" action="{{ path('program_app_program_delete', {'id': program.id}) }}"
      onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cette série ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-sm bg-danger">Supprimer</button>
    </div>
</form>
