<header class="navigationbar fixed-top p-1 mb-5 border-bottom bg-opacity-50">
    <div class="">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand text-primary fs-5 d-flex align-items-center ms-3" href="/">
                <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="ACME logo">
                Wild Séries
            </a>

            <ul class="nav col-12 col-lg-auto ms-auto align-items-center">
                <li class="d-flex align-items-center m-2">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected="">Acteurs</option>
                        <option value="1">Robert Sheehan</option>
                        <option value="2">Brian Cranston</option>
                        <option value="3">Gillian Anderson</option>
                    </select>
                </li>
                <li class="d-flex align-items-center m-2">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Categories</option>
                        <option value="1">Comique</option>
                        <option value="2">Feel good</option>
                        <option value="3">Documentaire</option>
                    </select>
                </li>
                <li class="d-flex align-items-center m-2">
                    <a href="#" class="nav-link px-2 link-dark">Mes favoris</a>
                </li>
                <li class="d-flex align-items-center m-2">
                    <a href="#" class="nav-link px-2 link-dark">Déconnexion</a>
                </li>
            </ul>

            <div class="avatar me-3">
                <img src="{{ asset('build/images/roger.jpeg') }}" alt="mdo" width="32" height="32"
                     class="rounded-circle">
            </div>
        </div>
    </div>
</header>
