$primary: #013F92;
$primary2: #CCE2FF;
$secondary: #FEECCD;
$secondary2: #52B69A;
$additional: #010206;
$additional2: #D3DBF8;
$additional3: #E02E2E;
$additional4: #FFE100;
$danger: #ff4136;

$navbar-light-color: #FEECCD;
$heading-font-family: 'Chakra Petch', sans-serif;
$body-font-family: 'Sarabun', sans-serif;
$base-font-size: 18px;

$font-family-base: $heading-font-family;
$font-family-code: $body-font-family;


@import "~bootstrap/scss/bootstrap";

body {
  font-family: $body-font-family;
  background: #D3DBF8;
}

.logo {
  width: 50px;
  height: 50px;
}

.card {
  display: flex;
}

.navigationbar {
  background-color: $secondary;
  opacity: 0.95;
}

//EMAIL LAYOUT

.layoutEmailTitle {
  text-align: center;
}

.logoLayoutEmail {
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');